<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE packages [
	<!ELEMENT packages (package*)>
	<!ELEMENT package EMPTY>
	<!ATTLIST package id CDATA #REQUIRED>
	<!ATTLIST package version CDATA #REQUIRED>
	<!ATTLIST package targetFramework CDATA #REQUIRED>
	<!ATTLIST package developmentDependency CDATA #IMPLIED>
]>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net462" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net462" />
</packages>